@font-face{
    font-family: rufina;
    src: url(../fonts/Rufina-Bold.ttf)
}

@font-face{
    font-family: sintony;
    src: url(../fonts/Sintony-Regular.ttf)
}
/*736d62*/
:root {
    --main-bg-color: #232020;
    --main-bg2-color: #000000A0;
    --main-accent-color: #90b8c4;
    --main-accent2-color: #859CAD;
    --main-textbg-color: #f3f4f3;
    --main-font: sintony;
    --main-heading-font: rufina;

    text-align: center;
    font-family: var(--main-font);
  }
  html{
    scroll-behavior: smooth;
  }

  header{
      text-align: left;
  }
  .navbar{
      margin-bottom: 1em;
      position: sticky;
      top: 0.5em;
      
      z-index: 999;
      
  }


  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-textbg-color);
    box-shadow: 10px 10px 5px var(--main-bg2-color);
  }

  .navbar li {
    float:left;
    
  }
  
  .navbar li a{
      display: block;
      color: var(--main-bg-color);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      
  }

  .navbar li a:hover {
    background-color: var(--main-accent-color);
    
  }

  .active {
    background-color: var(--main-accent2-color);
  }
  .dropdown {
    float: left;
    overflow: hidden;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 10px 10px 5px var(--main-bg2-color);
    z-index: 1;
    text-align: left;
  }
  .dropdown .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  main,footer,article,.blogNav{
    background-color: var(--main-textbg-color);
    max-width: 60em;
    width: device-width;
    margin:auto;
    
    padding: 1em 5%;
    box-shadow: 10px 10px 5px var(--main-bg2-color);
    margin-bottom: 1em;
  }

  .blogNav a{
    text-decoration: none;
    color: var(--main-bg-color);
    font-size: 2.5em;
    padding: 14px 16px;
  }
  .blogNav a:hover{
    color: var(--main-accent-color);
    font-size: 2.5em;
  }

  main p,article p{
      text-align:justify;
  }

  h1,h2,h3{
      font-family: var(--main-heading-font);
  }

  h1 p{
      text-align: center;
  }
  .navContainer{
    display:grid;
    
    grid-template-columns: 30px auto 30px;
  }

  .gridContainer{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, auto));
    justify-items: center;
    align-items: center;
    transition: linear;
    transform: rotateY(0deg); 
    transition: 0.5s;
  }

  .card {
    /* Add shadows to create the "card" effect */
    margin: 1em 1em;
    background-color: white;
    text-decoration: none;
    color: var(--main-bg-color);
    height: 90%;
    max-height: 30em;
    box-shadow: 5px 5px 5px  var(--main-bg2-color);
    transition: 0.3s;
    /*
    
    
    width: auto;
    height: 450px;
    
    
    
    */
  }
  .card img{
    width:100%;
    height:275px;

    object-fit: cover;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow:10px 10px 5px var(--main-bg2-color);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  button{
    background-color: white; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 25px 0px;
    color: var(--main-bg-color);
    box-shadow: 5px 5px 5px var(--main-bg2-color);
    transition:0.3s;
    height: 75vh;
    top: 4em;
    position: sticky;
    padding-bottom: 0.5em;
  }
  
  
  button:hover:enabled{
    box-shadow:10px 10px 5px var(--main-bg2-color);
    background-color: #90b8c4;
  }
  
  button:disabled{
    color:var(--main-bg2-color);
    box-shadow: 0px 0px 0px var(--main-bg2-color);
  }

  img{
    max-width: 100%;
  }
