@font-face{
    font-family: rufina;
    src: url(../fonts/Rufina-Bold.ttf)
}

@font-face{
    font-family: sintony;
    src: url(../fonts/Sintony-Regular.ttf)
}

:root {
    --main-bg-color: #232020;
    --main-bg2-color: #736d62;
    --main-accent-color: #90b8c4;
    --main-accent2-color: #7e94a9;
    --main-textbg-color: #f3f4f3;
    --main-font: sintony;
    --main-heading-font: rufina;

    text-align: center;
    font-family: var(--main-font);
  }
  html{
    scroll-behavior: smooth;
  }

  header{
      text-align: left;
  }
  nav{
      margin-bottom: 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-textbg-color);
    box-shadow: 10px 10px 5px var(--main-bg2-color);
  }

  li {
    float:left
  }
  
  li a{
      display: block;
      color: var(--main-bg-color);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      
  }

  li a:hover {
    background-color: var(--main-accent-color);
  }

  .active {
    background-color: var(--main-accent2-color);
  }
  main,footer,article,.blogNav{
    background-color: var(--main-textbg-color);
    width: 64em;
    margin:auto;
    padding: 1em 3em;
    box-shadow: 10px 10px 5px var(--main-bg2-color);
    margin-bottom: 1em;
  }
  .blogNav a{
    text-decoration: none;
    color: var(--main-bg-color);
    font-size: 2.5em;
    padding: 14px 16px;
  }
  .blogNav a:hover{
    color: var(--main-accent-color);
    font-size: 2.5em;
  }

  main p {
      text-align:center;
  }

  h1,h2,h3{
      font-family: var(--main-heading-font);
  }

  h1 p{
      text-align: center;
  }
  .navContainer{
    display:grid;
    
    grid-template-columns: 30px auto 30px;
  }

  .gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    transition: linear;
    transform: rotateY(0deg); 
    transition: 0.5s;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 5px 5px 5px  var(--main-bg2-color);
    transition: 0.3s;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 275px;
    height: 450px;
    background-color: white;
    text-decoration: none;
    color: var(--main-bg-color);
    
  }
  .card img{
    width:275px;
    height:275px;
    object-fit: cover;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow:10px 10px 5px var(--main-bg2-color);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  button{
    background-color: white; /* Green */
    border: none;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 25px 0px;
    color: var(--main-bg-color);
    box-shadow: 5px 5px 5px var(--main-bg2-color);
    transition:0.3s;
  }
  
  
  button:hover:enabled{
    box-shadow:10px 10px 5px var(--main-bg2-color);
    background-color: #90b8c4;
  }
  
  button:disabled{
    color:var(--main-bg2-color);
    box-shadow: 0px 0px 0px var(--main-bg2-color);
  }


