:root {
    --main-bg-color: #232020;
    --main-bg2-color: #3a3535;
    --main-accent-color: #ff7315;
    --main-textbg-color: #f4f4f4;
  }

header{
    background-color: var(--main-textbg-color);
    border-style:solid;
    border-left-width: 15px;
    border-top-width: 15px;
    border-right-width: 15px;
    border-bottom-width: 0px;
    border-color: var(--main-accent-color);
    padding: 15px
    
}
  body {
    background-color:var(--main-bg-color);
    width: 750px;
    margin: auto;
    border-style: solid;
    border-color: var(--main-bg2-color);
    border-width: 15px;
    
  }
  main{
    background-color:var(--main-textbg-color);
    border-style:solid;
    border-left-width: 15px;
    border-top-width: 0px;
    border-right-width: 15px;
    border-bottom-width: 0px;
    border-color: var(--main-accent-color);;
    padding: 15px
  }
  article{
    background-color:var(--main-textbg-color);
    border-style:solid;
    border-left-width: 15px;
    border-top-width: 0px;
    border-right-width: 15px;
    border-bottom-width: 0px;
    border-color: var(--main-accent-color);;
    padding: 15px
  }
  footer{
    background-color:var(--main-textbg-color);
    border-style:solid;
    border-left-width: 15px;
    border-top-width: 0px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-color: var(--main-accent-color);;
    padding: 15px
  }
  nav{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  p{
      text-align: center;
  }